# The First Data Analysis Project using pandas

The dataset was originally scraped and uploaded to Kaggle. It has been made modified from the original dataset that was uploaded to Kaggle:
- 50,000 data points has been sampled from the full dataset, to ensure the code runs quickly in a hosted environment
- The dataset has been dirtied a bit in order to closely resemble a real world example (the version uploaded to Kaggle was cleaned to be easier to work with)

**The aim of this project is to clean the data and analyze the included used car listings. In addition, to become familiar with some of the unique benefits jupyter notebook provides for pandas.**

First, let's import the pandas and NumPy libraries

In [7]:
import pandas as pd
import numpy as np

In [8]:
autos = pd.read_csv("autos.csv", encoding="Latin-1")

In [3]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

In [4]:
autos.head(10)

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
5,2016-03-21 13:47:45,Chrysler_Grand_Voyager_2.8_CRD_Aut.Limited_Sto...,privat,Angebot,"$7,900",test,bus,2006,automatik,150,voyager,"150,000km",4,diesel,chrysler,NaN,2016-03-21 00:00:00,0,22962,2016-04-06 09:45:21
6,2016-03-20 17:55:21,VW_Golf_III_GT_Special_Electronic_Green_Metall...,privat,Angebot,$300,test,limousine,1995,manuell,90,golf,"150,000km",8,benzin,volkswagen,NaN,2016-03-20 00:00:00,0,31535,2016-03-23 02:48:59
7,2016-03-16 18:55:19,Golf_IV_1.9_TDI_90PS,privat,Angebot,"$1,990",control,limousine,1998,manuell,90,golf,"150,000km",12,diesel,volkswagen,nein,2016-03-16 00:00:00,0,53474,2016-04-07 03:17:32
8,2016-03-22 16:51:34,Seat_Arosa,privat,Angebot,$250,test,NaN,2000,manuell,0,arosa,"150,000km",10,NaN,seat,nein,2016-03-22 00:00:00,0,7426,2016-03-26 18:18:10
9,2016-03-16 13:47:02,Renault_Megane_Scenic_1.6e_RT_Klimaanlage,privat,Angebot,$590,control,bus,1997,manuell,90,megane,"150,000km",7,benzin,renault,nein,2016-03-16 00:00:00,0,15749,2016-04-06 10:46:35

As clearly seen in the cell above, we can see following observations:
- The dataset contains 20 columns, most of them are strings
- Some columns have null values, overall percentage of null values are less than ~20%
- The columns names are defined using camalCase, not snake_case
- Most of the values are written in German

Let's convert the column names from camelcase to snakecase and reword some of the column names based on the data dictionary to be more descriptive.

In [9]:
new_columns = ['date_crawled', 'name', 'seller', 'offer_type', 'price', 'ab_test',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'number_of_pictures', 'postal_code',
       'last_seen']
autos.columns = new_columns
autos.columns

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'ab_test',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'number_of_pictures', 'postal_code',
       'last_seen'],
      dtype='object')

The data dictionary provided with data is as follows:

| index_number | Label               | Description                                                                |
|--------------|---------------------|----------------------------------------------------------------------------|
| 0            | date_crawled        | When this ad was first crawled. All field-values are taken from this date. |
| 1            | name                | Name of the car.                                                           |
| 2            | seller              | Whether the seller is private or a dealer.                                 |
| 3            | offer_type          | The type of listing                                                        |
| 4            | price               | The price on the ad to sell the car.                                       |
| 5            | ab_test             | Whether the listing is included in an A/B test.                            |
| 6            | vehicle_type        | The type of the vehicle                                                    |
| 7            | registration_year   | The year in which the car was first registered.                            |
| 8            | gearbox             | The transmission type.                                                     |
| 9            | power_ps            | The power of the car in PS.                                                |
| 10           | model               | The car model name.                                                        |
| 11           | odometer            | How many kilometers the car has driven.                                    |
| 12           | registration_month  | The month in which the car was first registered.                           |
| 13           | fuel_type           | What type of fuel the car uses.                                            |
| 14           | brand               | The brand of the car.                                                      |
| 15           | unrepaired_damage   | If the car has a damage which is not yet repaired.                         |
| 16           | ad_created          | The date on which the eBay listing was created.                            |
| 17           | number_of_pictures  | The number of pictures in the ad.                                          |
| 18           | postal_code         | The postal code for the location of the vehicle.                           |
| 19           | last_seen           | When the crawler saw this ad last online.                                  |

Secondly, we need to convert German words into English words
1. Create a map with german words and their respective words in English
2. Apply to our dataset

In [10]:
print(autos["seller"].unique())
print(autos["ab_test"].unique())
print(autos["vehicle_type"].unique())
print(autos["gearbox"].unique())
print(autos["fuel_type"].unique())
print(autos["unrepaired_damage"].unique())

['privat' 'gewerblich']
['control' 'test']
['bus' 'limousine' 'kleinwagen' 'kombi' nan 'coupe' 'suv' 'cabrio'
 'andere']
['manuell' 'automatik' nan]
['lpg' 'benzin' 'diesel' nan 'cng' 'hybrid' 'elektro' 'andere']
['nein' nan 'ja']

In [11]:
english_words = {"privat":"private",
                 "gewerblich":"commercial",
                 "bus":"bus",
                 "kombi":"microbus",
                 "limousine":"limousine",
                 "kleinwagen":"supermini",
                 "coupe":"coupe",
                 "suv":"suv",
                 "cabrio":"convertible",
                 "andere":"other",
                 "manuell":"manual",
                 "automatik":"automatic",
                 "lpg":"lpg",
                 "benzin":"gas",
                 "diesel":"diesel",
                 "cng":"cng",
                 "hybrid":"hybrid",
                 "elektro":"electro",
                 "nein":"no",
                 "ja":"yes"}
autos["seller"] = autos["seller"].map(english_words)
autos["ab_test"] = autos["ab_test"].map(english_words)
autos["vehicle_type"] = autos["vehicle_type"].map(english_words)
autos["gearbox"] = autos["gearbox"].map(english_words)
autos["fuel_type"] = autos["fuel_type"].map(english_words)
autos["unrepaired_damage"] = autos["unrepaired_damage"].map(english_words) # use it only once

Thirdly, look for 3 types of columns:
- Any columns that have mostly one value that are candidates to be dropped
- Any columns that need more investigation.

| index_number | Label               | Description                                                                |
|--------------|---------------------|----------------------------------------------------------------------------|
| 0            | date_crawled        | When this ad was first crawled. All field-values are taken from this date. |
| 16           | ad_created          | The date on which the eBay listing was created.                            |
| 19           | last_seen           | When the crawler saw this ad last online.                                  |

- Any examples of numeric data stored as text that needs to be cleaned.

| index_number | Label               | Description                                                                |
|--------------|---------------------|----------------------------------------------------------------------------|
| 4            | price               | The price on the ad to sell the car.                                       |
| 11           | odometer            | How many kilometers the car has driven.                                    |

1. Let's remove any non-numeric characters
2. Convert the columns to a numeric values
3. Rename the columns accordingly

In [12]:
autos["odometer"] = autos["odometer"].str.strip().str.replace("km", "").str.replace(",", "").astype(int)
autos["price"] = autos["price"].str.strip().str.replace("$", "").str.replace(",", "").astype(int)
autos.rename(columns={"price":"price_dollars", "odometer":"odometer_km"}, inplace=True)

We will drop a few columns (ab_test, seller and offer type) because they do not provide any usefull information since the results are monothonic.

In [13]:
autos = autos.drop(["ab_test", "seller", "offer_type"], axis=1)

In [16]:
autos.head(10)

,date_crawled,name,price_dollars,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,number_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,5000,bus,2004,manual,158,andere,150000,3,lpg,peugeot,no,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,8500,limousine,1997,automatic,286,7er,150000,6,gas,bmw,no,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,8990,limousine,2009,manual,102,golf,70000,7,gas,volkswagen,no,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,4350,supermini,2007,automatic,71,fortwo,70000,6,gas,smart,no,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,1350,microbus,2003,manual,0,focus,150000,7,gas,ford,no,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
5,2016-03-21 13:47:45,Chrysler_Grand_Voyager_2.8_CRD_Aut.Limited_Sto...,7900,bus,2006,automatic,150,voyager,150000,4,diesel,chrysler,NaN,2016-03-21 00:00:00,0,22962,2016-04-06 09:45:21
6,2016-03-20 17:55:21,VW_Golf_III_GT_Special_Electronic_Green_Metall...,300,limousine,1995,manual,90,golf,150000,8,gas,volkswagen,NaN,2016-03-20 00:00:00,0,31535,2016-03-23 02:48:59
7,2016-03-16 18:55:19,Golf_IV_1.9_TDI_90PS,1990,limousine,1998,manual,90,golf,150000,12,diesel,volkswagen,no,2016-03-16 00:00:00,0,53474,2016-04-07 03:17:32
8,2016-03-22 16:51:34,Seat_Arosa,250,NaN,2000,manual,0,arosa,150000,10,NaN,seat,no,2016-03-22 00:00:00,0,7426,2016-03-26 18:18:10
9,2016-03-16 13:47:02,Renault_Megane_Scenic_1.6e_RT_Klimaanlage,590,bus,1997,manual,90,megane,150000,7,gas,renault,no,2016-03-16 00:00:00,0,15749,2016-04-06 10:46:35

Let's continue exploring the data, specifically looking for data that doesn't look right. Start by analyzing the odometer_km and price columns. Here's the steps:

1. Analyze the columns using minimum and maximum values and look for any values that look unrealistically high or low (outliers) that we might want to remove.

Use:
- Series.unique().shape to see how many unique values
- Series.describe() to view min/max/median/mean etc
- Series.value_counts(), with some variations: *chained to .head() if there are lots of values.*

Because Series.value_counts() returns a series, we can use Series.sort_index() with ascending= True or False to view the highest and lowest values with their counts (can also chain to head() here).

When removing outliers, we can do **df[(df["col"] > x ) & (df["col"] < y )]**, but it's more readable to use **df[df["col"].between(x,y)]**

In [33]:
autos["price_dollars"].unique().shape

(2357,)

In [34]:
autos["price_dollars"].describe()

count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price_dollars, dtype: float64

In [35]:
autos["price_dollars"].value_counts().sort_index(ascending=True).head(10)

0     1421
1      156
2        3
3        1
5        2
8        1
9        1
10       7
11       2
12       3
Name: price_dollars, dtype: int64

In the cells above, we can see the "price_dollars" column has 2357 unique values of price, with the some really strange outliers such as 0 (free cars) and (9999999+ dollars for car), which is absolute nonsense. By removing outliers, we can make our dataset more clean in order to provide accurate data analysis.

To be persistent, we will remove rows with the price lower than \\$1000 and higher than \\$100000.

In [14]:
average_autos = autos["price_dollars"].between(1000, 100000, inclusive=True)
autos = autos[average_autos]
autos.shape

(38587, 17)

In [58]:
autos["odometer_km"].unique().shape

(13,)

In [ ]:
autos["odometer_km"].describe()

In [59]:
autos["odometer_km"].value_counts().sort_index(ascending=True).head(13)

5000        498
10000       225
20000       684
30000       742
40000       794
50000       984
60000      1097
70000      1154
80000      1333
90000      1569
100000     1858
125000     4338
150000    23311
Name: odometer_km, dtype: int64

**The values of the "odometer_km" column look acceptable. There are not strange outliers**

Let's now move on to the date columns and understand the date range the data covers.

There are 5 columns that should represent date values. Some of these columns were created by the crawler, some came from the website itself. We can differentiate by referring to the data dictionary:

- `date_crawled`: added by the crawler
- `last_seen`: added by the crawler
- `ad_created`: from the website
- `registration_month`: from the website
- `registration_year`: from the website

3 of these dates are identified as strings values by pandas. Because there are 3 columns representing dates in a string format, we need to convert it into a numerical format so we can understand it quantitatively. The others 2 values already represented as numeric values.

In [61]:
autos[["date_crawled", "last_seen", "ad_created"]][0:5]

          date_crawled            last_seen           ad_created
0  2016-03-26 17:47:46  2016-04-06 06:45:54  2016-03-26 00:00:00
1  2016-04-04 13:38:56  2016-04-06 14:45:08  2016-04-04 00:00:00
2  2016-03-26 18:57:24  2016-04-06 20:15:37  2016-03-26 00:00:00
3  2016-03-12 16:58:10  2016-03-15 03:16:28  2016-03-12 00:00:00
4  2016-04-01 14:38:50  2016-04-01 14:38:50  2016-04-01 00:00:00

The date format of all 3 columns is yyyy-mm-dd HH:MM:SS, however the "ad_created" columns has no time inputs. So the date would be formated according to yyyy-mm-dd format, without the specific time.

In [16]:
autos["date_crawled"].value_counts(normalize=True, dropna=False)

2016-03-23 19:38:20    0.000078
2016-04-02 11:37:04    0.000078
2016-03-19 17:36:18    0.000078
2016-03-08 10:40:35    0.000078
2016-03-16 21:50:53    0.000078
2016-03-11 22:38:16    0.000078
2016-04-04 16:40:33    0.000078
2016-03-09 11:54:38    0.000078
2016-03-29 23:42:13    0.000078
2016-03-07 10:38:13    0.000052
2016-04-05 12:49:42    0.000052
2016-03-05 17:53:50    0.000052
2016-03-22 21:47:00    0.000052
2016-03-05 17:48:24    0.000052
2016-03-10 12:50:37    0.000052
2016-03-24 17:37:56    0.000052
2016-03-20 11:42:50    0.000052
2016-03-10 12:53:16    0.000052
2016-03-07 13:46:05    0.000052
2016-04-04 09:25:23    0.000052
2016-04-02 23:39:49    0.000052
2016-03-25 19:36:44    0.000052
2016-03-30 17:44:44    0.000052
2016-03-20 19:47:41    0.000052
2016-03-24 15:57:46    0.000052
2016-04-03 12:51:34    0.000052
2016-03-30 19:54:53    0.000052
2016-03-19 12:48:36    0.000052
2016-03-10 21:46:37    0.000052
2016-03-20 20:45:03    0.000052
                         ...
2016-03-11 19:49:07    0.000026
2016-03-07 13:49:46    0.000026
2016-04-01 14:58:58    0.000026
2016-03-16 19:45:47    0.000026
2016-03-10 13:53:59    0.000026
2016-03-19 17:43:45    0.000026
2016-03-09 21:57:59    0.000026
2016-03-19 04:37:41    0.000026
2016-03-07 10:52:01    0.000026
2016-03-16 13:56:00    0.000026
2016-03-27 18:56:00    0.000026
2016-03-17 09:57:00    0.000026
2016-03-30 15:59:10    0.000026
2016-03-26 10:54:36    0.000026
2016-04-04 12:57:08    0.000026
2016-03-12 22:37:59    0.000026
2016-04-05 10:52:09    0.000026
2016-03-28 20:45:52    0.000026
2016-04-04 12:50:52    0.000026
2016-03-16 18:39:13    0.000026
2016-03-12 04:02:18    0.000026
2016-04-04 10:55:53    0.000026
2016-03-14 19:53:05    0.000026
2016-03-25 08:53:49    0.000026
2016-03-19 19:45:06    0.000026
2016-03-30 22:43:07    0.000026
2016-03-22 14:58:26    0.000026
2016-03-15 14:58:25    0.000026
2016-03-12 23:37:43    0.000026
2016-04-02 17:56:07    0.000026
Name: date_crawled, Length: 37519, dtype: float64